* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    
}

.logo {
    margin-right: auto;
    width: 5%;
    border: none;
}

.logo-img {
    width: 100%;
}

li {
    margin: 10px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
    transition: 500ms;
}

li a:hover {
    color:orangered;
    text-decoration: none;
}

h2 {
    font-size: larger;
    background-color: gray;
    padding: 5px 20px;
    margin: 10px;
    text-align: left;
    display: inline-block;
}

h3 {
    font-size: larger;
    margin: 10px;
    text-align: left;
}

p {
    padding: 10px;
    font-size: large;
}

.cards {
    height: 500px;
    display: flex;
    justify-content: space-evenly;

}

.card-one, .card-two{
    border: 2px solid forestgreen;
    border-radius: 10px;
    margin: 20px;
    width: 300px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img-1, .img-2 {
    width: 50px;
    height: auto;
    width: 126px;
    height: auto;
    position: relative;
    left: 80px;
    top: 90px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}